---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% else %}default-avatar.jpg{% endif %}" alt="{{site.author}}">
        </a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->

  <!-- "About Me" Section -->
  <div class="extra-info">
    <h4>About Me</h4>
    <p>
      I’m Zhongxing (Ryan) Zhou, a Product Manager, entrepreneur, and Software Developer with a strong focus on Web3 and AI innovations.
    </p>
  </div> <!-- End About Me Section -->

  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank" aria-label="Follow me on Twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
        {% endif %}
        {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank" aria-label="Follow me on Facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
        {% endif %}
        {% if site.social-github %}
          <li class="social-icon github-icon"><a href="http://github.com/{{site.social-github}}" target="_blank" aria-label="View my GitHub profile">
            <i class="fa fa-github"></i></a>
          </li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="social-icon linkedin-icon"><a href="https://linkedin.com/in/{{site.social-linkedin}}" target="_blank" aria-label="Connect with me on LinkedIn">
            <i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}" aria-label="Send me an email">
            <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          </li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->

    <div class="copyright">
      <p>{{site.current_year}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->

<div class="content-box clearfix">
  {{ content }}
</div>
  {{ content }}
</div>
